@model Web.Models.Appointment

@{
    ViewBag.Title = "BookTime";
}

<h2>Din tid er blevet bestilt</h2>

<p>
    Hej @Session["FirstName"]! Din tid hos @Session["PractitionerFirstName"] @Session["PractitionerLastName"] er blevet bestilt!
</p>

<p>
    <strong>Din tid:</strong> Fra @Html.DisplayFor(model => model.Startdate) til @Html.DisplayFor(model => model.Enddate)
</p>

<br>
@Html.ActionLink("Til Hovedmenuen", "Index", "Home")
<br>

   